<ul class="menuBackground">
    <li class="menuitem"><a href="/elections">Home</a></li>
    <li class="menuitem"><a href="/signout">Signout</a></li>
</ul>
<h1 class="text-4xl font-semibold text-black-600 py-2 centerElement">Online Voting Manager</h1>