body {
  font-family: "Times New Roman", Times, serif;
}

.Todo-Item:hover .trash-icon {
  display: block;
}

.inline {
  display: inline;
}

.menuBackground {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.floatRight {
  float: right;
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: right;
  text-decoration: none;
}

.activePage {
  background-color: #04aa6d;
}

.centerElement {
  text-align: center;
}

radiobutton {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(104, 103, 103);
  transition: 0.3s all linear;
  position: relative;
  margin-left: 30px;
}

radiobutton:checked {
  border: 6px solid black;
}