body {
  font-family: "Times New Roman", Times, serif;
}

.Todo-Item:hover .trash-icon {
  display: block;
}

.inline {
  display: inline;
}

.myClass {
  background: red;
}

.menuBackground {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.floatLeft {
  float: left;
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
}

.activePage {
  background-color: #04aa6d;
}

.centerElement {
  text-align: center;
}